<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Penn Course Review Experiment</title>
    <meta name="description" content="">
    <link rel='stylesheet' href='/styles/styles.css' />
    </head>
  <body>
    <h1 class="title">Penn Course Review</h1>
    <h2><%= course.aliases[0] %></h2>
    <h3><%= course.name %></h3>
    <% if (comments) { %>
      <p><%= comments %></p>
    <% } %>
    <h3>Average</h3>
    <div class="box">
      <small>Course</small>
      <%= reviews.rCourseQuality.toFixed(1) %>
    </div>
    <div class="box">
      <small>Instructor</small>
      <%= reviews.rInstructorQuality.toFixed(1) %>
    </div>
    <div class="box">
      <small>Difficulty</small>
      <%= reviews.rDifficulty.toFixed(1) %>
    </div>
  </body>
</html>
