<%- include('header') %>
<h1 class="title">Penn Course Review</h1>
<h2><%= department.id %></h2>
<h3><%= department.name %></h3>
<ul>
<% for (var i = 0; i < courses.length; i++) { %>
   <li><%= courses[i].name %></li>
<% } %>
</ul>
<pre><%= JSON.stringify(department) %></pre>
<%- include('footer') %>
